@inherits LayoutComponentBase

@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<MudLayout >
    <MudAppBar Elevation="0" Style="background-color: transparent; position: fixed; z-index: 10;">
        <MudContainer Style="display: flex; color:#546E7A;background-color: rgba(255, 255, 255, 0.4); border-radius: 5px; backdrop-filter:blur(5px); justify-items: center; align-items: center; height: 60px;">
            <a href="/"><MudImage Src="images/Logos/codeline-airlines-logo-no_background.png" Style="height: 55px; width: 75px; background-color:rgba(0, 0, 0, 0); border-radius: 10px"></MudImage></a>
            <MudText Typo="Typo.h5" Class="ml-3" Color="Color.Default" Style="font-family: Consolas;">C O D E L I N E &nbsp; A I R L I N E S</MudText>
            <MudSpacer />
            <MudButtonGroup Variant="Variant.Text" Style="justify-content: space-evenly">

                <MudButton Href="/signup" Style="color: white; background-color: rgba(0, 0, 0, 0.25)"><MudIcon Icon="@Icons.Material.Outlined.PersonAddAlt"></MudIcon> &nbsp; Sign-Up</MudButton>
                <MudButton Href="/signin" Style="color: white; background-color: rgba(0, 0, 0, 0.25)"><MudIcon Icon="@Icons.Material.Outlined.Login"></MudIcon> &nbsp; Log-In </MudButton>

                
            </MudButtonGroup>
            
        </MudContainer>
    </MudAppBar>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>