<div class="carousel-item-content">
    <MudImage Src="/Images/Home/Carousel/LandscapePic7.jpg" Class="carousel-image" />
    <div class="text-overlay">
        <h2>Making it easier to get there.</h2>
    </div>
</div>
