<div class="carousel-container">
    <div class="custom-carousel">
        <div class="custom-carousel-item">
            <!-- Replace with your desired image -->
            <img src="/Images/BookingConfirm/backgroundCarousel2.jpg" class="carousel-image" />
            <div class="text-overlay">
                <h1 class="text-title">Confirm Your Booking</h1>
                <p class="text-subtitle">Secure Your Flight &amp; Enjoy Your Journey</p>
            </div>
        </div>
    </div>
</div>
