<div class="carousel-container">
    <div class="custom-carousel">
        <div class="custom-carousel-item">
            <!-- Replace with your image path -->
            <img src="/Images/Passengers/backgroundCarousel2.jpg" class="carousel-image" />
            <div class="text-overlay">
                <h1 class="text-title">Explore the Skies</h1>
                <p class="text-subtitle">Seamless Booking for Your Dream Destinations</p>
            </div>
        </div>
    </div>
</div>